<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let curso of this.datosCursos">


      <div class="card my-3">
        <div class="card-header">
          <p class="display-5"><strong>{{curso.nombre}}</strong></p>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{curso.profesor.nombre + ' ' + curso.profesor.apellidoPaterno}}</h5>
          <p class="card-text">{{curso.descripcion}}</p>
          <button class="btn btn-primary" (click)="inscribirse(curso.nrc)">Inscribirme</button>
        </div>
      </div>


    </div>
  </div>
</div>
