<div class="container">
  <div class="row">

    <div class="col-md-12 mt-5">

      <div class="card">
        <div class="card-header text-center">
          <p class="display-3">Bienvenido <strong>{{usuarioLogeado.nombre + ', ' + usuarioLogeado.apellidoPaterno}}</strong></p>
        </div>
        <div class="card-body">

          <div class="container">
            <div class="row">
              <div class="col-md-4 my-auto">
                <h3>Tu estatus</h3>
                <p *ngIf="usuarioLogeado.activo">Status: <span class="text-success">Activo</span></p>
                <p *ngIf="!usuarioLogeado.activo">Status: <span class="text-danger">No activo</span></p>
              </div>
              <div class="col-md-4 my-auto">
                <h3>Tu avance</h3>
                <p>Porcentaje: <span class="text-success">{{porcentajeAlumno}}%</span></p>
              </div>

              <div class="col-md-4">
                <img src="../../../../assets/img/user.png" style="width: 200px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-5">

      <div class="card">
        <div class="card-header text-center">
          <p class="display-3"><strong>Cursos inscritos</strong></p>
        </div>
        <div class="card-body">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">NRC</th>
              <th scope="col">Nombre</th>
              <th scope="col">Profesor</th>
              <th scope="col">Descripción</th>
              <th scope="col">Calificación</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let curso of cursosInscrito">
              <th scope="row">{{curso.nrc}}</th>
              <td>{{curso.nombre}}</td>
              <td>{{curso.profesor.nombre + ' ' + curso.profesor.apellidoPaterno}}</td>
              <td>{{curso.descripcion}}</td>
              <td>{{curso.calificacion[0].total}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
